<ul class="social {{ include.className }}">
  {%- if site.dribbble_username -%}
  <li>
    <a
      target="_blank"
      href="https://dribbble.com/{{ site.dribbble_username | cgi_escape | escape }}"
    >
      <i class="fab fa-dribbble social__icon"></i>
    </a>
  </li>

  {%- endif -%} {%- if site.github_username -%}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
      <i class="fab fa-github social__icon"></i>
    </a>
  </li>
  {%- endif -%} {%- if site.linkedin -%}
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}">
      <i class="fab fa-linkedin social__icon"></i>
    </a>
  </li>
  {%- endif -%} {%- if site.medium -%}
  <!-- <li>
    <a target="_blank" href="https://medium.com/@{{ site.medium | cgi_escape | escape }}">
      <i class="fab fa-medium social__icon"></i>
    </a>
  </li> -->
  {%- endif -%} {%- if site.email -%}
  <li>
    <a target="_blank" href="mailto:{{ site.email | cgi_escape | escape }}">
      <i class="fas fa-envelope social__icon"></i>
    </a>
  </li>
  {%- endif -%}
</ul>
