<ul class="social {{ include.className }}">
  {%- if site.dribbble_username -%}
  <li>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Meu perfil no dribbble"
      href="https://dribbble.com/{{ site.dribbble_username | cgi_escape | escape }}"
    >
      <i class="fab fa-dribbble social__icon"></i>
    </a>
  </li>

  {%- endif -%} {%- if site.github_username -%}
  <li>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Meu perfil no github"
      href="https://github.com/{{ site.github_username | cgi_escape | escape }}"
    >
      <i class="fab fa-github social__icon"></i>
    </a>
  </li>
  {%- endif -%} {%- if site.linkedin -%}
  <li>
    <a
      rel="noopener"
      target="_blank"
      aria-label="Meu perfil no linkedin"
      href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}"
    >
      <i class="fab fa-linkedin social__icon"></i>
    </a>
  </li>
  {%- endif -%} {%- if site.medium -%}
  <!-- <li>
    <a target="_blank" href="https://medium.com/@{{ site.medium | cgi_escape | escape }}">
      <i class="fab fa-medium social__icon"></i>
    </a>
  </li> -->
  {%- endif -%} {%- if site.email -%}
  <li>
    <a
      aria-label="clique aqui para me mandar um email"
      rel="noopener"
      target="_blank"
      href="mailto:{{ site.email | cgi_escape | escape }}"
    >
      <i class="fas fa-envelope social__icon"></i>
    </a>
  </li>
  {%- endif -%}
</ul>
