.article {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: $black;
  position: relative;

  .article__chanel {
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      color: $black;
      transition: all ease-in 0.3s;
      border-bottom: 1px solid $primary;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  .article__back {
    font-family: $font-sans-serif;
    display: inline-block;
    font-size: 18px;
    color: $primary;
    padding: 5px 10px;
    border: 1px solid $primary;
    transition: all ease-in 0.3s;
    position: absolute;
    top: 8px;

    .article__back--icon {
      font-size: 10px;
      vertical-align: middle;
      padding-bottom: 4px;
      border-radius: 4px;
    }

    &:hover {
      text-decoration: none;
      background: $primary;
      color: white;
    }
  }

  .article__link--back {
    color: $primary;
    transition: all ease-in 0.3s;
    border-bottom: 1px solid white;

    &:hover {
      text-decoration: none;
      border-color: $primary;
    }
  }
  .article__title {
    font-family: $font-sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .article__subtext {
    font-family: $font-sans-serif;
    font-weight: lighter;
    color: $darker-gray;
    font-size: 16px;
    margin-bottom: 0px;
  }

  .article__author {
    a {
      color: $primary;
      transition: all ease-in 0.3s;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      background: $gray;
      border-radius: 50%;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .article__content {
    font-family: $font-serif;
    margin-top: 30px;
    margin-bottom: 60px;
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 600;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 26px;
    }
    strong {
      font-weight: 600;
    }
    ul {
      margin: 10px;
    }
    li {
      margin-bottom: 15px;
      p {
        display: inline-block;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: $black;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    a {
      color: $black;
      transition: all ease-in 0.3s;
      border-bottom: 1px solid $primary;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
    blockquote {
      border-left: 3px solid $primary;
      padding-left: 20px;
      color: $black;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 1.8;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    small {
      color: $darker-gray;
    }
  }
  // mobile
  @media (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 3rem;
    .article__back {
      display: none;
    }
    .article__title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    .article__subtext {
      font-size: 14px;
      margin-bottom: 0px;
    }

    .article__content {
      font-family: $font-serif;
      margin-top: 30px;
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
      img {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .article__muted {
        color: $gray;
      }
      blockquote {
        border-left: 3px solid $primary;
        padding-left: 20px;
        color: $black;
        margin-top: 30px;
        margin-bottom: 30px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.highlighter-rouge .highlight {
  background: none;
  border: none;
  padding: 0;
  margin: 30px 0;
}
