.posts {
  max-width: 750px;
  padding-left: 5rem;

  .post {
    margin-bottom: 80px;
  }

  a:hover {
    text-decoration: none;
  }

  .post__title {
    font-family: $font-sans-serif;
    font-size: 36px;
    color: $black;
    font-weight: bold;
  }

  .post__date {
    font-family: $font-sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: $gray;
  }

  .post__text {
    margin-top: 15px;
    max-width: 800px;
    font-family: $font-serif;
    line-height: 1.5;
    p {
      color: $darker-gray;
      font-size: 17px;
    }

    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
    ul {
      margin: 10px;
    }
    li {
      margin-bottom: 15px;
      color: $darker-gray;
      p {
        display: inline-block;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: $black;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding-left: 15px;
    margin-left: auto;

    .post {
      margin-bottom: 40px;
    }

    .post__title {
      font-size: 24px;
    }

    .post__date {
      font-size: 14px;
    }

    .post__text {
      margin-top: 15px;
      max-width: 100%;
      p {
        font-size: 15px;
      }

      img {
        max-width: 100%;
        max-height: auto;
      }
    }
  }
}
