.social {
  list-style: none;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  .social__icon {
    margin-right: 10px;
    color: $gray;
    transition: all ease-in 0.3s;

    &:hover {
      color: $primary;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 5px;
    justify-content: flex-start;
  }
}
