.tag {
  font-family: $font-sans-serif;
  font-weight: lighter;
  color: $primary;
  padding: 5px;
  border: 1px solid $primary;
  border-radius: 4px;
  max-width: 100%;
  display: inline-block;
  transition: all ease 0.3s;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 14px;

  &.disabled {
    color: $gray;
    border-color: $gray;
  }
}

a.tag {
  color: $primary;
}