---
layout: default
comments: true
---

<article class="article container" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="article__back" href="{{ '/' | prepend: site.baseurl }}">
    <i class="fas fa-angle-double-left article__back--icon"></i>
    Página Inicial
  </a>
  <div class="row justify-content-center">
    <header class="article__header col-lg-8">
      <h1 class="article__title" itemprop="name headline">{{ page.title | escape }}</h1>

      <p class="post-meta article__subtext">
        <span class="article__author">
          Escrito por: <a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
        </span>
        <time
          class="article__date"
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>
    </header>
    <div class="col-lg-8 article__content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="col-lg-8">
      <a href="{{'/' | prepend: site.baseurl}}" class="article__link--back">
        <i class="fas fa-angle-double-left article__back--icon"></i>
        Ver mais posts
      </a>
    </div>
    <footer class="footer col-lg-8">
      <a class="footer__link" href="{{ '/' | prepend: site.baseurl }}">
        <div class="d-flex align-items-start align-items-lg-center">
          <img src="assets/images/profile.png" class="footer__picture" alt="Foto de Bianca" />
          <div class="footer__text">
            <h1 class="footer__title">{{ site.title }}</h1>
            <p class="footer__description">{{ site.description }}</p>
          </a>
            {%- include social.html className="footer__social" -%}
          </div>
        </div>
    </footer>
    {%- if site.disqus-shortname -%} {%- include disqus_comments.html -%} {%- endif -%}
  </div>
</article>
