---
layout: default
comments: true
---

<article class="article container" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="article__back" href="{{ '/' | prepend: site.baseurl }}">
    <i class="fas fa-angle-double-left article__back--icon"></i>
    Página Inicial
  </a>
  <div class="row justify-content-center">
    <header class="article__header col-lg-8">
      <h1 class="article__title" itemprop="name headline">{{ page.title | escape }}</h1>

      <p class="post-meta article__subtext">
        <span class="article__author">
          Escrito por: <a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
        </span>
        <time
          class="article__date"
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>
    </header>
    <div class="col-lg-8 article__content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="related col-lg-8">
      <h3 class="related__title">Você também pode gostar</h3>
      <ul class="related__list d-flex flex-wrap">
        {% for post in site.related_posts limit:3 %}
          <a class="related__item" href="{{ post.url | prepend: site.baseurl }}">
              <li>
              <img class="related__item__image" src="{{post.image}}" alt="Imagem do post {{post.title}}">
              <div class="related__content">
                <h3 class="related__item__title">{{ post.title  | truncate: 50}}</h3>
                {{if post.description}}
                <p class="related__item__text">
                  {{ post.description | truncate: 100}}
                </p>
                {{ endif }}
              </div>
              </li>
          </a>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-8 article__chanel">
      Quer ficar sabendo quando houverem novos posts aqui no blog? Agora você pode! Basta se juntar ao <a href="https://t.me/rochabiancablognews" target="_blank">meu canal no telegram</a>.
    </div>

    <!-- <div class="col-lg-8">
      <a href="{{'/' | prepend: site.baseurl}}" class="article__link--back">
        <i class="fas fa-angle-double-left article__back--icon"></i>
        Voltar para a home
      </a>
    </div> -->
    <footer class="footer col-lg-8">
      <a class="footer__link" href="{{ '/' | prepend: site.baseurl }}">
        <div class="d-flex align-items-start align-items-lg-center">
          <img src="assets/images/profile.png" class="footer__picture" alt="Foto de Bianca" />
          <div class="footer__text">
            <h1 class="footer__title">{{ site.title }}</h1>
            <p class="footer__description">{{ site.description }}</p>
          </a>
            {%- include social.html className="footer__social" -%}
          </div>
        </div>
    </footer>
    {%- if site.disqus-shortname -%} {%- include disqus_comments.html -%} {%- endif -%}
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</article>
