---
layout: default
---

<div class="sidebar">
  <div class="sidebar__content">
    <img src="assets/images/profile.png" class="sidebar__picture" alt="Foto de Bianca" />
    <div class="sidebar__text">
      <h1 class="sidebar__title">{{ site.title }}</h1>
      {%- include social.html -%}
      <p class="sidebar__description">{{ site.description }}</p>
    </div>
  </div>
</div>

<main class="posts sidebar__space container" aria-label="Content">
  {% if site.posts.size == 0 %}
  <p class="post__nopost">Vish, não encontramos nenhum post para mostrar :(</p>
  {% else %} {% for post in site.posts %}
  <div class="post">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h3 class="post__title">{{ post.title }}</h3>
      <div class="post__date">{{ post.date | date_to_string }}</div>
      {% if post.tags.size > 0 %} {% for tag in post.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %} {% endif %}
      <div class="post__text">{{ post.excerpt }}</div>
    </a>
  </div>
  {% endfor %} {% endif %}
</main>
